html{
    /* /* lightmode */
    background-color: white; 
    color: rgb(68, 56, 46); 
    padding-top: 80px;
}

body {
    border-radius: 20px;
    padding: 30px;
    margin: auto;
    max-width: 1000px;
    height: 100%;

    /* light mode */
    background-color: #f2ecda;
}



/* tekst */
/* tekst */
/* tekst */

h1{
    font-size: 6.5em;
    margin: 0;
    writing-mode: vertical-lr;
} 

h2{
    font-size: 4em;
    margin: 0;
    writing-mode: vertical-lr;
}

h3{
    margin: 0;
}

p{
    width: 200px;
}

header p{
    font-size: 2em;
    writing-mode: vertical-lr;
}

section header p{
    font-size: 1.5em;
    margin: 0;
    writing-mode: vertical-lr;
}

blockquote{
    font-style: italic;
    font-weight: lighter;
    margin: 50px 0 ;
}





/* dark mode */
/* dark mode */
/* dark mode */

/* @media (prefers-color-scheme: dark) {
html{
    background-color: rgb(43, 43, 43);
    color: #f2ecda;
}

body{
     background-color: #a29285;
}
}  */




/* section, article, header, main etc.*/
/* section, article, header, main etc.*/
/* section, article, header, main etc.*/

main{
    display: grid;
    /* grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-columns: repeat(9, 111.10px); */
    grid-template-columns: repeat(auto-fill, minmax(251px, 1fr));
    grid-gap: 50px;
    padding: 0;
}

header{
    width: 20%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
}





/* lists en grids */
/* lists en grids */
/* lists en grids*/


section header ul{
    width:20%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20px 1fr;
    padding: 0;
}

header ul{
    width:20%;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-auto-rows: 100%;
    padding: 0;
}

section ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100%;
    padding: 0;
}

li{
    list-style: none;
}



/* grid van titel russ and daughters */

header ul li:nth-child(1){
    grid-column: 2/3;
    grid-row: 1;

}

header ul li:nth-child(2){
    grid-column: 1/2;
    grid-row: 1;
}



/* grid van de sections */

section li:nth-child(1){
    grid-column: 1/2;
    grid-row: 1;

}

section li:nth-child(2){
    grid-column: 2/3;
    grid-row: 1;
}



/* vormen */
/* vormen */
/* vormen */

section:nth-child(9) div:nth-child(1) { 
    margin: 20px auto;
    border-radius: 50%;
    padding: 50px;
    width: 0px;
    background-image:
    radial-gradient(circle at right top, #f2ecda 21%, transparent 20%),
    radial-gradient(closest-side at 50% 20%, #f2ecda 10%, transparent 12%),
    radial-gradient(closest-side at 60% 80%, #f2ecda 8%, transparent 12%),
    radial-gradient(closest-side at 20% 40%, #f2ecda 10%, transparent 12%),
    radial-gradient(closest-side at 25% 65%, #f2ecda 7%, transparent 8%),
    radial-gradient(closest-side at 80% 60%, #f2ecda 10%, transparent 12%),
    radial-gradient(circle at center, #f2ecda 25%,  rgb(68, 56, 46) 20%);
}

section:nth-child(9) div:nth-child(2) { 
    margin: 20px auto;
    border-radius: 50% 50% 50% 50% / 62% 64% 36% 38%;
    border: 8px solid rgb(68, 56, 46);
    width: 80px; 
    height: 110px;
    background-color: #f2ecda;
    background-image:
    radial-gradient(closest-side at 50% 57% , rgb(68, 56, 46)37%, transparent 38%);
    
}

section:nth-child(9) div:nth-child(3) p{ 
    font-size: 10px;
    font-weight: bold;
}

section:nth-child(9) div:nth-child(3) { 
    padding-top: 50px;
    margin: 20px auto;
    color: #f2ecda;
    border: 4px solid rgb(68, 56, 46);
    border-radius: 5px;
    width: 60px; 
    height: 80px;
    background-image:
    linear-gradient(to right, transparent 49%, rgb(68, 56, 46)50%, transparent 51%),
    linear-gradient(to bottom, transparent 19%, rgb(68, 56, 46)20%, transparent 21%),
    linear-gradient(to bottom,#f2ecda 40%, rgb(68, 56, 46)40%);
}

section:nth-child(9) div:nth-child(4) { 
    margin: 20px auto;
    border-radius: 50%;
    border: rgb(68, 56, 46);
    width: 120px; 
    height: 120px;
    background-color:  rgb(68, 56, 46);
}

/* section:nth-child(9) div:nth-child(4) section { 
    margin: 20px auto;
    border-radius: 59% 41% 65% 35% / 50% 48% 52% 50% ;
    width: 100px; 
    height: 55px;
    background-color:  rgb(68, 56, 46);
    background-image:
    radial-gradient(closest-side at 60%  , #f2ecda 30%, transparent 30%);
} */





/* oude niet-respnsive grid van main  */


/* section:nth-child(1){
    grid-column: 1/2;
    grid-row: 1;
}

section:nth-child(2){
    grid-column: 3;
    grid-row: 1;
}

section:nth-child(3){
    grid-column: 4;
    grid-row: 2;
}

section:nth-child(4){
    grid-column: 1;
    grid-row: 2;
}

section:nth-child(5){
    grid-column: 7;
    grid-row: 1;
}

section:nth-child(6){
    grid-column: 7;
    grid-row: 2;
}

section:nth-child(7){
    grid-column: 1;
    grid-row: 3;
}

section:nth-child(8){
    grid-column: 4;
    grid-row: 3;
}

section:nth-child(9){
    grid-column: 8;
    grid-row: 3;
} */