html{
    /* /* lightmode */
    background-color: white; 
    color: rgb(68, 56, 46); 
    padding-top: 80px;
}

body {
    border-radius: 20px;
    padding: 30px;
    margin: auto;
    width: 1000px;
    height: 100%;

    /* light mode */
    background-color: #f2ecda;
}



/* tekst */

h1{
    font-size: 6.5em;
    margin: 0;
    writing-mode: vertical-lr;
} 

h2{
    font-size: 4em;
    margin: 0;
    writing-mode: vertical-lr;
}

h3{
    margin: 0;
}

p{
    width: 200px;
}

header p{
    font-size: 2em;
    writing-mode: vertical-lr;
}

section header p{
    font-size: 1.5em;
    margin: 0;
    writing-mode: vertical-lr;
}

blockquote{
    font-style: italic;
    font-weight: lighter;
    margin: 50px;
}



/* dark mode */

/* @media (prefers-color-scheme: dark) {
html{
    background-color: rgb(43, 43, 43);
    color: #f2ecda;
}

body{
     background-color: #a29285;
}
}  */




/* section, article, header */

main{
    display: grid;
    /* grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-columns: repeat(9, 111.10px); */
    grid-template-columns: repeat(auto-fill, minmax(min(251px, 100%), 1fr));
    grid-gap: 10px;
    padding: 0;
}

/* section {
    margin: 0 auto 50px ; 
    /* width: 350px; */
    /* background-color: rgb(157, 157, 165); */
/* } */

/* article {
    padding: 0 10px;
    margin: 0 auto 30px; 
    /* width: 300px; */
    /* background-color: rgb(61, 36, 40); 
 } */

header{
    width: 20%;
    grid-column: 1;
    grid-row: 1 ;
}



/* lists */


section header ul{
    width:20%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30px;
    padding: 0;
}

header ul{
    width:20%;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-auto-rows: 100%;
    padding: 0;
}

section ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100%;
    padding: 0;
}

li{
    list-style: none;
}


header ul li:nth-child(1){
    grid-column: 2;
    grid-row: 1;

}

header ul li:nth-child(2){
    grid-column: 1;
    grid-row: 1;
}


section li:nth-child(1){
    grid-column: 1;
    grid-row: 1;

}

section li:nth-child(2){
    grid-column: 2;
    grid-row: 1;
}


/* main grid */


/* section:nth-child(1){
    grid-column: 1/2;
    grid-row: 1;
}

section:nth-child(2){
    grid-column: 3;
    grid-row: 1;
}

section:nth-child(3){
    grid-column: 4;
    grid-row: 2;
}

section:nth-child(4){
    grid-column: 1;
    grid-row: 2;
}

section:nth-child(5){
    grid-column: 7;
    grid-row: 1;
}

section:nth-child(6){
    grid-column: 7;
    grid-row: 2;
}

section:nth-child(7){
    grid-column: 1;
    grid-row: 3;
}

section:nth-child(8){
    grid-column: 4;
    grid-row: 3;
}

section:nth-child(9){
    grid-column: 8;
    grid-row: 3;
} */

/* /* section:nth-child(9) div */
section:nth-child(9) div:nth-child(1) { 
    margin: 20px;
    border-radius: 50%;
    padding: 50px;
    width: 0px;
    background-image:
    radial-gradient(circle at right top, #f2ecda 21%, transparent 20%),
    radial-gradient(circle at center, #f2ecda 25%,  rgb(68, 56, 46) 20%);
}

section:nth-child(9) div:nth-child(2) { 
    margin: 20px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    width: 100px; 
    height: 130px;
    background-color:  rgb(68, 56, 46);
    background-image:
    radial-gradient(circle at center, #f2ecda 25%,  rgb(68, 56, 46) 25%);
}

section:nth-child(9) div:nth-child(3) { 
    margin: 20px;
    border-radius: 0px;
    width: 50px; 
    height: 150px;
    background-color:  rgb(68, 56, 46);
    clip-path:polygon(0 0, 100% 0, 50% 100%, 50% 100%);
}
