html{
    /* /* lightmode */
    background-color: white; 
    color: rgb(68, 56, 46); 

    padding-top: 80px;
}

body {
    border-radius: 20px;
    padding: 50px;
    margin: auto;
    width: 700px;
    height: 100vh;

    /* light mode */
    background-color: #f2ecda;
}

h1{
    font-size: 6.5em;
    margin: 0;
    writing-mode: vertical-lr;
} 

/* @media (prefers-color-scheme: dark) {
    /* dark mode styles */ 
/* html{
    background-color: rgb(43, 43, 43);
    color: #f2ecda;
}

body{
     background-color: #a29285;
}
} */ 

